<%= form_with model: [:admin, service] do |f| %>

  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 5 %>
  </div>

  <div class="mb-3">
    <%= f.label :icon %>
    <%= f.text_field :icon, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
