<h2>Contact Us</h2>

<%= form_with model: @contact, url: contact_messages_path do |f| %>

  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :phone %>
    <%= f.telephone_field :phone, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :message %>
    <%= f.text_area :message, class: "form-control" %>
  </div>

  <%= f.submit "Send Message", class: "btn btn-primary" %>
<% end %>
