<h2>Job Openings</h2>

<div class="mb-3">
  <%= link_to "Add New Job", new_admin_job_path, class: "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Experience</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.location %></td>
        <td><%= job.exp_required %></td>

        <td class="text-end">
          <%= link_to "Edit", edit_admin_job_path(job), class: "btn btn-sm btn-warning" %>
          <%= link_to "Delete", admin_job_path(job), 
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, 
                class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
